﻿@{
    if (!Request.IsAuthenticated)
    {
        Response.Redirect("~/Home?bounced=true&returnUrl="
            + Request.Url.LocalPath);
    }
}

<form id="hidden-player-queue" method="POST" action="">
    <input type="hidden" name="access_token" value="" >
    <input type="hidden" name="LeagueID" value="1" >
    <input type="hidden" name="CurrentUser" value="Put_CurrentUser_ID_Here" >
    <input type="hidden" class="12353" name="12353" value="12353">
    <input type="submit" value="Test" name="submit" class="red-bg">
</form>

<div class="main-container body draft">
        <div id="circle-button" class="shadow-mid"><span>New League</span></div>
        <div class="content seventy fleft">
            <div class="clr"></div>
            <!-- Free Agents -->
            <div id="free-agents" class="full fleft shadow-low card">
                <div class="team-header">
                    <h3 class="fleft eighty">Free Agents</h3>
                    <div class="clr"></div>
                </div>
                <div class="team-body">
                    <ul class="feed-list">
                        <div class="draft-player queued 12353" data-current-player-id="12353" data-current-player-name="Peyton Manning">
                            <div class="thirty fleft">
                                <span class="player-name">Peyton Manning</span> <span class="player-details">TeamName, Position</span>
                            </div>
                            <div class="seventy fright">
                                <div class="stat-item" id="PassCompleted" data-current-stat="5">5</div>
                                <div class="stat-item" id="PassAttempted" data-current-stat="53">53</div>
                                <div class="stat-item" id="PassYards" data-current-stat="51">51</div>
                                <div class="stat-item" id="PassTouchdown" data-current-stat="5">5</div>
                                <div class="stat-item" id="PassInterception" data-current-stat="5">5</div>
                                <div class="stat-item" id="RushAttempts" data-current-stat="5">5</div>
                                <div class="stat-item" id="RushYards" data-current-stat="1">1</div>
                                <div class="stat-item" id="RushTouchdowns" data-current-stat="765">765</div>
                                <div class="stat-item" id="ReceiveSuccess" data-current-stat="5">5</div>
                                <div class="stat-item" id="ReceiveTouchdowns" data-current-stat="45">45</div>
                                <div class="stat-item" id="ReceiveTarget" data-current-stat="5">5</div>
                                <div class="stat-item" id="Total2PointCon" data-current-stat="99">99</div>
                                <div class="stat-item" id="TotalFumbleLost" data-current-stat="4">4</div>
                                <div class="stat-item" id="TotalRetTouchdown" data-current-stat="1">1</div>
                            </div>
                            <div class="clr"></div>
                        </div>
                        <div class="draft-player 4324" data-current-player-id="4324" data-current-player-name="Some Guy">
                            <div class="thirty fleft">
                                <span class="player-name">Some Guy</span> <span class="player-details">TeamName, Position</span>
                            </div>
                            <div class="seventy fright">
                                <div class="stat-item" id="PassCompleted" data-current-stat="5">5</div>
                                <div class="stat-item" id="PassAttempted" data-current-stat="53">53</div>
                                <div class="stat-item" id="PassYards" data-current-stat="51">51</div>
                                <div class="stat-item" id="PassTouchdown" data-current-stat="5">5</div>
                                <div class="stat-item" id="PassInterception" data-current-stat="5">5</div>
                                <div class="stat-item" id="RushAttempts" data-current-stat="5">5</div>
                                <div class="stat-item" id="RushYards" data-current-stat="1">1</div>
                                <div class="stat-item" id="RushTouchdowns" data-current-stat="765">765</div>
                                <div class="stat-item" id="ReceiveSuccess" data-current-stat="5">5</div>
                                <div class="stat-item" id="ReceiveTouchdowns" data-current-stat="45">45</div>
                                <div class="stat-item" id="ReceiveTarget" data-current-stat="5">5</div>
                                <div class="stat-item" id="Total2PointCon" data-current-stat="99">99</div>
                                <div class="stat-item" id="TotalFumbleLost" data-current-stat="4">4</div>
                                <div class="stat-item" id="TotalRetTouchdown" data-current-stat="1">1</div>
                            </div>
                            <div class="clr"></div>
                        </div>
                        <div class="draft-player 765" data-current-player-id="765" data-current-player-name="Other Guy">
                            <div class="thirty fleft">
                                <span class="player-name">Other Guy</span> <span class="player-details">TeamName, Position</span>
                            </div>
                            <div class="seventy fright">
                                <div class="stat-item" id="PassCompleted" data-current-stat="5">5</div>
                                <div class="stat-item" id="PassAttempted" data-current-stat="53">53</div>
                                <div class="stat-item" id="PassYards" data-current-stat="51">51</div>
                                <div class="stat-item" id="PassTouchdown" data-current-stat="5">5</div>
                                <div class="stat-item" id="PassInterception" data-current-stat="5">5</div>
                                <div class="stat-item" id="RushAttempts" data-current-stat="5">5</div>
                                <div class="stat-item" id="RushYards" data-current-stat="1">1</div>
                                <div class="stat-item" id="RushTouchdowns" data-current-stat="765">765</div>
                                <div class="stat-item" id="ReceiveSuccess" data-current-stat="5">5</div>
                                <div class="stat-item" id="ReceiveTouchdowns" data-current-stat="45">45</div>
                                <div class="stat-item" id="ReceiveTarget" data-current-stat="5">5</div>
                                <div class="stat-item" id="Total2PointCon" data-current-stat="99">99</div>
                                <div class="stat-item" id="TotalFumbleLost" data-current-stat="4">4</div>
                                <div class="stat-item" id="TotalRetTouchdown" data-current-stat="1">1</div>
                            </div>
                            <div class="clr"></div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .Free Agents-->
        <!-- Queue & Roster-->
        <div class="content thirty fright">
            <!-- Roster -->
            <div id="roster" class="full fleft shadow-low card">
                <div class="team-header yellow-bg">
                    <h3 class="fleft eighty">Roster</h3>
                    <div class="clr"></div>
                </div>
                <div class="team-body">
                    <div class="roster-item">
                        <div class="pos" data-roster-position="QB">QB</div>
                        <div class="player-name" data-current-player="Peyton-Manning" data-current-player-id="12490">Peyton Manning</div>
                    </div>
                    <div class="roster-item">
                        <div class="pos" data-roster-position="RB">RB</div>
                        <div class="player-name" data-current-player="Reggie-Bush" data-current-player-id="13490">Reggie Bush</div>
                    </div>
                    <div class="roster-item">
                        <div class="pos" data-roster-position="RB">RB</div>
                        <div class="player-name" data-current-player="Peyton-Manning" data-current-player-id="9490">Peyton Manning</div>
                    </div>
                    <div class="roster-item">
                        <div class="pos" data-roster-position="WR">WR</div>
                        <div class="player-name" data-current-player="Andre-Johnson" data-current-player-id="125530">Andre Johnson</div>
                    </div>
                    <div class="roster-item">
                        <div class="pos" data-roster-position="WR">WR</div>
                        <div class="player-name" data-current-player="Andre-Johnson" data-current-player-id="12130">Andre Johnson</div>
                    </div>
                    <div class="roster-item">
                        <div class="pos" data-roster-position="TE">TE</div>
                        <div class="player-name" data-current-player="Andre-Johnson" data-current-player-id="12130">Andre Johnson</div>
                    </div>
                    <div class="roster-item">
                        <div class="pos" data-roster-position="FLEX">FLEX</div>
                        <div class="player-name" data-current-player="Andre-Johnson" data-current-player-id="12130">Andre Johnson</div>
                    </div>
                    <div class="roster-item">
                        <div class="pos" data-roster-position="D/ST">D/ST</div>
                        <div class="player-name" data-current-player="Andre-Johnson" data-current-player-id="12130">Andre Johnson</div>
                    </div>
                    <div class="roster-item">
                        <div class="pos" data-roster-position="K">K</div>
                        <div class="player-name" data-current-player="Andre-Johnson" data-current-player-id="12130">Andre Johnson</div>
                    </div>
                    <div class="roster-item">
                        <div class="pos" data-roster-position="BE">BE</div>
                        <div class="player-name" data-current-player="" data-current-player-id=""></div>
                    </div>
                    <div class="roster-item">
                        <div class="pos" data-roster-position="BE">BE</div>
                        <div class="player-name" data-current-player="" data-current-player-id=""></div>
                    </div>
                    <div class="roster-item">
                        <div class="pos" data-roster-position="BE">BE</div>
                        <div class="player-name" data-current-player="" data-current-player-id=""></div>
                    </div>
                    <div class="roster-item">
                        <div class="pos" data-roster-position="BE">BE</div>
                        <div class="player-name" data-current-player="" data-current-player-id=""></div>
                    </div>
                    <div class="roster-item">
                        <div class="pos" data-roster-position="BE">BE</div>
                        <div class="player-name" data-current-player="" data-current-player-id=""></div>
                    </div>
                    <div class="roster-item">
                        <div class="pos" data-roster-position="BE">BE</div>
                        <div class="player-name" data-current-player="" data-current-player-id=""></div>
                    </div>
                    <div class="roster-item">
                        <div class="pos" data-roster-position="BE">BE</div>
                        <div class="player-name" data-current-player="" data-current-player-id=""></div>
                    </div>
                </div>
            </div>
            <!-- .Roster -->
            <!-- Queue -->
            <div id="queue" class="full fleft shadow-low card">
                <div class="team-header red-bg">
                    <h3 class="fleft eighty">Queue</h3>
                    <div class="clr"></div>
                </div>
                <div class="team-body">
                    <ul class="player-queue">
                        <li class="queue-item" data-current-player-id="12353" data-current-player-name="Peyton Manning">Peyton Manning <span class="delete-button"><i class="fa fa-close fright"></i></span></li>
                    </ul>
                </div>
            </div>
            <!-- .Queue -->
        </div>
        <div class="clr"></div>
</div>

<script>
        /* Click to add player to Queue */
        jQuery("#free-agents").on("click", ".draft-player", function () {
            var curPlayerID = jQuery(this).attr("data-current-player-id");
            var curPlayerName = jQuery(this).attr("data-current-player-name");
            /* Check if the player is already queued. If not, gray it out and add it to the queue */
            if (jQuery(this).hasClass("queued") == false) {
                jQuery(this).toggleClass("queued");
                jQuery("#queue ul").append("<li class=\"queue-item\" data-current-player-id=\"" + curPlayerID + "\" data-current-player-name=\"" + curPlayerName + "\">" + curPlayerName + "<span class=\"delete-button\"><i class=\"fa fa-close fright\"></i></span></li>");
                jQuery("#hidden-player-queue").append("<input type=\"hidden\" class=\"" + curPlayerID + "\" name=\"" + curPlayerID + "\" value=\"" + curPlayerID + "\" />");
            } else {
                alert("Player already queued.");
            }
        });

        /* Remove player from queue if clicked. Check if player is currently queued, if they are, remove them and ungray them  */
        jQuery("#queue").on("click", ".delete-button", function (events) {
            var curPlayerID = jQuery(this).parent().attr("data-current-player-id");
            var curPlayerName = jQuery(this).attr("data-current-player-name");
            jQuery(this).parent().addClass("to-delete");
            if (jQuery("#free-agents").find("." + curPlayerID).hasClass("queued") == true) {
                jQuery("#free-agents").find("." + curPlayerID).toggleClass("queued");
                jQuery("#hidden-player-queue").find("." + curPlayerID).remove();
                jQuery(".to-delete").remove();
            } else {
                alert("Error removing from queue. Please try again.");
            }
        });

        /* 
            Callback handler for player submission
            Will normally submit automatically via timer

            TODO: pick ONLY the TOP player in queue, fallback to the next player in queue if already taken
        */
        $("#hidden-player-queue").submit(function (e) {
            var postData = $(this).serializeArray();

            jQuery("#hidden-player-queue").find("input[name=\"access_token\"]").val(sessionStorage.tokenKey);
            $.ajax(
            {
                /* Set this URL path to the route that adds a player to a user's roster */
                url: "/api/League/PopulateDraft",
                type: "POST",
                data: postData,
                success: function (data, textStatus, jqXHR) {
                    jQuery("#free-agents ul.feed-list").append(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Error adding player to your roster. Error details in console.");
                    console.debug(jqXHR.responseJSON);
                }
            });
            e.preventDefault(); //STOP default action
            //e.unbind(); //unbind. to stop multiple form submit.
        });
</script>
