﻿@{
    ViewBag.Title = "Home";
}
<div class="main-container body home">
    <div id="circle-button" class="shadow-mid"><span>Sign Up</span></div>
    <div class="content-container">
        <div class="content">
            <h1 id="promo-header">Play Free, Win Rewards!</h1>
            <div id="main-promo" class="shadow-mid">
                <img src="~/Images/banner1.jpg" id="promo-img">
                <div class="clr"></div>
            </div>
            <h2 id="league-header">Sponsored Leagues</h2>
            <div class="home-league-three shadow-low">
                <div class="name-banner">
                    <h3 class="league-name">League 1</h3>
                </div>
                <div class="league-details">
                    <ul class="info-list">
                        <li class="info-item">
                            <a href="#" target="_blank" class="promoter">The Swinging Doors</a>
                        </li>
                        <li class="info-item">
                            Rules: <strong>Standard</strong>
                        </li>
                        <li class="info-item">
                            Prize: <strong>$20</strong>
                        </li>
                        <li class="info-item">
                            Entry deadline: <strong>TBD</strong>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="home-league-three shadow-low">
                <div class="name-banner">
                    <h3 class="league-name">League 2</h3>
                </div>
                <div class="league-details">
                    <ul class="info-list">
                        <li class="info-item">
                            <a href="#" target="_blank" class="promoter">Poole's Public House</a>
                        </li>
                        <li class="info-item">
                            Rules: <strong>Standard</strong>
                        </li>
                        <li class="info-item">
                            Prize: <strong>$30</strong>
                        </li>
                        <li class="info-item">
                            Entry deadline: <strong>TBD</strong>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="home-league-three shadow-low">
                <div class="name-banner">
                    <h3 class="league-name">League 3</h3>
                </div>
                <div class="league-details">
                    <ul class="info-list">
                        <li class="info-item">
                            <a href="#" target="_blank" class="promoter">Runner's Soul</a>
                        </li>
                        <li class="info-item">
                            Rules: <strong>Standard</strong>
                        </li>
                        <li class="info-item">
                            Prize: <strong>$25</strong>
                        </li>
                        <li class="info-item">
                            Entry deadline: <strong>TBD</strong>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="clr"></div>

        </div>
        <!-- Sidebar -->
        <div id="sidebar">
            <div class="content-container">
                <div class="tabs">
                    <ul id="tab-list">
                        <li class="tab-item active" data-tab="news">News</li>
                        <li class="tab-item" data-tab="social">Social</li>
                        <li class="tab-item" data-tab="video">Video</li>
                        <div class="clr"></div>
                    </ul>
                </div>
                <div class="clr"></div>
                <!-- Toggle-container -->
                <div class="toggle-container shadow-low">
                    <!-- Intro video -->
                    <div id="video">
                        <div id="video-container">
                            <h2>How does it work?</h2>
                            <iframe src="https://www.youtube.com/embed/vgPI41Nce7Y?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                            <div class="clr"></div>
                        </div>
                        <div class="clr"></div>
                    </div>
                    <!-- .Intro video -->
                    <!-- Social -->
                    <div id="social">
                        <a class="twitter-timeline" href="https://twitter.com/fnjwejknfw/lists/ffrewards" data-widget-id="598791149420032000">Tweets from https://twitter.com/fnjwejknfw/lists/ffrewards</a>
                        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                        <!--<ul id="social-feed">
                            <li class="feed-item">
                                <div class="feed-container">
                                    <div class="author-container">
                                        <img src="~/Images/espnlogo.png" class="provider-pic shadow-low">
                                        <h4 class="provider-name">Twitter</h4>
                                    </div>
                                    <div class="clr"></div>
                                    <p class="feed-content">
                                        Life's best when LoC <= hours in the sun! #spring #whynotboth #breakisbetter
                                    </p>
                                </div>
                            </li>
                            <li class="feed-item">
                                <div class="feed-container">
                                    <div class="author-container">
                                        <img src="~/Images/espnlogo.png" class="provider-pic shadow-low">
                                        <h4 class="provider-name">Twitter</h4>
                                    </div>
                                    <div class="clr"></div>
                                    <p class="feed-content">
                                        Life's best when LoC <= hours in the sun! #spring #whynotboth #breakisbetter
                                    </p>
                                </div>
                            </li>
                            <li class="feed-item">
                                <div class="feed-container">
                                    <div class="author-container">
                                        <img src="~/Images/espnlogo.png" class="provider-pic shadow-low">
                                        <h4 class="provider-name">Twitter</h4>
                                    </div>
                                    <div class="clr"></div>
                                    <p class="feed-content">
                                        Life's best when LoC <= hours in the sun! #spring #whynotboth #breakisbetter
                                    </p>
                                </div>
                            </li>
                            <li class="feed-item">
                                <div class="feed-container">
                                    <div class="author-container">
                                        <img src="~/Images/espnlogo.png" class="provider-pic shadow-low">
                                        <h4 class="provider-name">Twitter</h4>
                                    </div>
                                    <div class="clr"></div>
                                    <p class="feed-content">
                                        Life's best when LoC <= hours in the sun! #spring #whynotboth #breakisbetter
                                    </p>
                                </div>
                            </li>
                        </ul>-->
                        <div class="clr"></div>
                    </div>
                    <!-- .Social -->
                    <!-- News -->
                    <div id="news">
                        <a class="twitter-timeline" href="https://twitter.com/fnjwejknfw/lists/football-news" data-widget-id="598793499987718144">Tweets from https://twitter.com/fnjwejknfw/lists/football-news</a>
                        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                        <!--<ul id="news-feed">
                            <li class="feed-item">
                                <div class="feed-container">
                                    <div class="author-container">
                                        <img src="~/Images/espnlogo.png" class="provider-pic shadow-low">
                                        <div class="meta">
                                            <h4 class="provider-name">ESPN</h4>
                                            <div class="clr"></div>
                                            <p class="timestamp">
                                                May 17, 2015 at 3:00pm
                                            </p>
                                        </div>
                                        <div class="clr"></div>
                                    </div>
                                    <p class="feed-content">
                                        Tim Tebow signs with the Eagles.
                                    </p>
                                </div>
                            </li>
                            <li class="feed-item">
                                <div class="feed-container">
                                    <div class="author-container">
                                        <img src="~/Images/nflnetwork.png" class="provider-pic shadow-low">
                                        <div class="meta">
                                            <h4 class="provider-name">NFL Network</h4>
                                            <div class="clr"></div>
                                            <p class="timestamp">
                                                May 17, 2015 at 2:55pm
                                            </p>
                                        </div>
                                        <div class="clr"></div>
                                    </div>
                                    <p class="feed-content">
                                        Breaking News: Eagles trade LeSean McCoy to the Bills for Kiko Alonzo.
                                    </p>
                                </div>
                            </li>
                            <li class="feed-item">
                                <div class="feed-container">
                                    <div class="author-container">
                                        <img src="~/Images/petecarroll.jpg" class="provider-pic shadow-low">
                                        <div class="meta">
                                            <h4 class="provider-name">Seahawks</h4>
                                            <div class="clr"></div>
                                            <p class="timestamp">
                                                May 17, 2015 at 2:33pm
                                            </p>
                                        </div>
                                        <div class="clr"></div>
                                    </div>
                                    <p class="feed-content">
                                        12th man voted best fan group by Associated Press.
                                    </p>
                                </div>
                            </li>
                            <li class="feed-item">
                                <div class="feed-container">
                                    <div class="author-container">
                                        <img src="~/Images/nyt.png" class="provider-pic shadow-low">
                                        <div class="meta">
                                            <h4 class="provider-name">New York Times</h4>
                                            <div class="clr"></div>
                                            <p class="timestamp">
                                                May 17, 2015 at 2:11pm
                                            </p>
                                        </div>
                                        <div class="clr"></div>
                                    </div>
                                    <p class="feed-content">
                                        NFL is the most popular sport in America for the 30th year in a row.
                                    </p>
                                </div>
                            </li>
                        </ul>-->
                        <div class="clr"></div>
                    </div>
                    <!-- .News -->
                </div>
                <!-- .Toggle-container -->
            </div>
        </div>
        <!-- .Sidebar -->
        <div class="clr"></div>
    </div>
</div>