﻿@{
    if (!Request.IsAuthenticated)
    {
        Response.Redirect("~/Home?bounced=true&returnUrl="
             + Request.Url.LocalPath);
    }
    ViewBag.Title = "Leagues";
}
<div class="main-container body leagues">
    <div id="circle-button" class="shadow-mid"><span>Sign Up</span></div>
    <div class="content-container">
        <div class="content">
            <div class="tabs">
                <ul id="tab-list">
                    <li class="tab-item active" data-tab="sponsored">Sponsored</li>
                    <li class="tab-item" data-tab="weekly">Weekly</li>
                    <li class="tab-item" data-tab="custom">Custom</li>
                </ul>
            </div>

            <!-- Toggle-container -->
            <div class="toggle-container shadow-low">
                <!-- Sponsored -->
                <div id="sponsored">
                    <div class="leagues-feed">
                        <div class="half league-single shadow-low">
                            <h3>League Name</h3>
                            <div class="league-feed-pic">
                                <img src="http://placehold.it/75x75" class="league-img">
                            </div>
                            <div class="league-feed-body">
                                <p>
                                    Sustainable shabby chic art party, plaid pickled Marfa beard XOXO sartorial forage yr distillery fixie paleo. Authentic before they sold out direct trade, mustache Thundercats paleo mixtape selfies Helvetica.
                                </p>
                            </div>
                            <div class="league-feed-meta">
                                <a href="#" class="meta-join shadow-low">Join</a>
                                <div class="meta-spots">
                                    <span>4</span> spots left
                                </div>
                                <span class="meta-ruleset">Ruleset</span>
                            </div>
                        </div>

                        <div class="clr"></div>
                    </div>
                </div>
                <!-- .Sponsored -->
                <!-- Weekly -->
                <div id="weekly">
                    <div class="leagues-feed">
                        <div class="half league-single shadow-low">
                            <h3>Weekly name</h3>
                            <div class="league-feed-pic">
                                <img src="http://placehold.it/75x75" class="league-img">
                            </div>
                            <div class="league-feed-body">
                                <p>
                                    A single weekly chic art party, bathed in plaid pickled Marfa beard featuring sartorial forage. Mutter distillery fixie paleo. Authentic before they sold out direct trade, mustache Thundercats paleo mixtape selfies Helvetica.
                                </p>
                            </div>
                            <div class="league-feed-meta">
                                <a href="#" class="meta-join shadow-low">Join</a>
                                <div class="meta-spots">
                                    <span>4</span> spots left
                                </div>
                                <span class="meta-ruleset">Ruleset</span>
                            </div>
                        </div>
                       
                        <div class="clr"></div>
                    </div>
                </div>
                <!-- .Weekly -->
                <!-- Custom -->
                <div id="custom">
                    <div class="leagues-feed">
                        <div class="half league-single shadow-low">
                            <h3>Custom League</h3>
                            <div class="league-feed-pic">
                                <img src="http://placehold.it/75x75" class="league-img">
                            </div>
                            <div class="league-feed-body">
                                <p>
                                    CUSTOM shabby chic art party, plaid pickled Marfa beard XOXO sartorial forage yr distillery fixie paleo. Authentic before they sold out direct trade, mustache Thundercats paleo mixtape selfies Helvetica.
                                </p>
                            </div>
                            <div class="league-feed-meta">
                                <a href="#" class="meta-join shadow-low">Join</a>
                                <div class="meta-spots">
                                    <span>9</span> spots left
                                </div>
                                <span class="meta-ruleset">Custom Ruleset</span>
                            </div>
                        </div>
                        <div class="clr"></div>
                    </div>
                    <div class="clr"></div>
                </div>
                <!-- .Custom -->
            </div>
        </div>
        <div class="clr"></div>
    </div>
</div>