﻿@{
    if (!Request.IsAuthenticated)
    {
        Response.Redirect("~/Home?bounced=true&returnUrl="
            + Request.Url.LocalPath);
    }
}

<!-- Delete me -->
<form id="hidden-player-queue" method="POST" action="">
    <input type="hidden" name="LeagueID" value="1" />
    <input type="hidden" name="CurrentUser" value="Put_CurrentUser_ID_Here" />
    <input type="submit" value="Test" name="submit" class="red-bg" />
</form>
<!-- .Delete me -->

<div class="main-container body my-teams">
    <div id="circle-button" class="shadow-mid"><span>New League</span></div>
    <div class="content-container">
        <div class="content">
            <div id="tag-team-info" class="third shadow-low">
                <img src="http://placehold.it/100x100" class="team-pic fleft third">
                <div id="team-half-div" class="seventy">
                    <div class="team-name">
                        <h4>Team name</h4>
                        <h6>League name</h6>
                        <div class="clr"></div>
                    </div>
                    <div class="team-meta">
                        <span class="record">Foo</span>
                        <div class="half">Trades: <strong>3</strong></div>
                        <div class="half">League Ruleset: <strong>Test</strong></div>
                    </div>
                </div>
                <div class="clr"></div>
            </div>
            <div class="clr"></div>
            <!-- Field visualization box -->
            <div id="field-visualization" class="fifty fleft shadow-low card">
                <div class="team-header">
                    <h3 class="fleft eighty">Field Visualization</h3>
                    <i class="fa fa-external-link fright"></i>
                    <div class="clr"></div> 
                </div>
                <div class="team-body">
                    <div>
                        <img src="~/Images/field.jpg" id="field-image">
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
            <!-- .Mystery box -->
            <!-- Roster -->
            <div id="roster" class="fifty fleft shadow-low card">
                <div class="team-header">
                    <h3 class="fleft eighty">Roster</h3>
                    <i class="fa fa-external-link fright"></i>
                    <div class="clr"></div>
                </div>
                <div class="team-body">
                    <ul class="feed-list"></ul>
                    <div class="clr"></div>
                </div>
            </div>
            <!-- .Roster -->
            <div class="clr"></div>
            <!-- Standings -->
            <div id="standings" class="third fleft shadow-low card">
                <div class="team-header">
                    <h3 class="fleft eighty">Standings</h3>
                    <i class="fa fa-external-link fright"></i>
                    <div class="clr"></div>
                </div>
                <div class="team-body">
                    <ul class="feed-list">
                        <li class="team-feed-item">Team 1 - <span class="record">10-1</span></li>
                        <li class="team-feed-item">Team 2 - <span class="record">10-2</span></li>
                        <li class="team-feed-item">Team 3 - <span class="record">10-3</span></li>
                        <li class="team-feed-item">Team 4 - <span class="record">10-4</span></li>
                        <li class="team-feed-item">Team 5 - <span class="record">10-5</span></li>
                        <li class="team-feed-item">Team 6 - <span class="record">10-6</span></li>
                        <li class="team-feed-item">Team 7 - <span class="record">10-7</span></li>
                        <li class="team-feed-item">Team 8 - <span class="record">10-8</span></li>
                        <li class="team-feed-item">Team 9 - <span class="record">10-9</span></li>
                        <li class="team-feed-item">Team 10 - <span class="record">10-10</span></li>
                        <li class="team-feed-item">Team 11 - <span class="record">10-11</span></li>
                        <li class="team-feed-item">Team 12 - <span class="record">10-12</span></li>
                    </ul>
                </div>
            </div>
            <!-- .Standings -->
            <!-- Scoreboard -->
            <div id="standings" class="third fleft shadow-low card">
                <div class="team-header">
                    <h3 class="fleft eighty">Scoreboard</h3>
                    <i class="fa fa-external-link fright"></i>
                    <div class="clr"></div>
                </div>
                <div class="team-body">
                    <ul class="feed-list">
                        <li class="team-feed-item">Team 1 - <span class="record">10-1</span></li>
                        <li class="team-feed-item">Team 1 - <span class="record">10-1</span></li>
                        <li class="team-feed-item">Team 1 - <span class="record">10-1</span></li>
                        <li class="team-feed-item">Team 1 - <span class="record">10-1</span></li>
                        <li class="team-feed-item">Team 1 - <span class="record">10-1</span></li>
                        <li class="team-feed-item">Team 1 - <span class="record">10-1</span></li>
                        <li class="team-feed-item">Team 1 - <span class="record">10-1</span></li>
                        <li class="team-feed-item">Team 1 - <span class="record">10-1</span></li>
                        <li class="team-feed-item">Team 1 - <span class="record">10-1</span></li>
                    </ul>
                </div>
            </div>
            <!-- .Scoreboard -->
            <!-- Free Agents -->
            <div id="free-agents" class="third fleft shadow-low card">
                <div class="team-header">
                    <h3 class="fleft eighty">Free Agents</h3>
                    <i class="fa fa-external-link fright"></i>
                    <div class="clr"></div>
                </div>
                <div class="team-body">
                    <ul class="feed-list">
                        <li class="team-feed-item">Peyton Manning</li>
                        <li class="team-feed-item">Russell Wilson</li>
                        <li class="team-feed-item">Golden Tate</li>
                        <li class="team-feed-item">Steven Hauschka</li>
                        <li class="team-feed-item">Peyton Manning</li>
                        <li class="team-feed-item">Russell Wilson</li>
                        <li class="team-feed-item">Golden Tate</li>
                        <li class="team-feed-item">Steven Hauschka</li>
                        <li class="team-feed-item">Peyton Manning</li>
                        <li class="team-feed-item">Russell Wilson</li>
                        <li class="team-feed-item">Golden Tate</li>
                        <li class="team-feed-item">Steven Hauschka</li>
                        <li class="team-feed-item">Peyton Manning</li>
                        <li class="team-feed-item">Russell Wilson</li>
                        <li class="team-feed-item">Golden Tate</li>
                        <li class="team-feed-item">Steven Hauschka</li>
                    </ul>
                </div>
            </div>
            <!-- Free Agents -->
            <div id="free-agents" class="third fleft shadow-low card">
                <div class="team-header">
                    <h3 class="fleft eighty">Free Agents</h3>
                    <i class="fa fa-external-link fright"></i>
                    <div class="clr"></div>
                </div>
                <div class="team-body">
                    <ul class="feed-list">
                        <li class="team-feed-item">Peyton Manning</li>

                    </ul>
                </div>
            </div>
            <!-- .Free Agents -->
        </div>
        <div class="clr"></div>
    </div>
</div>
<script>
    /*
            Callback handler for player submission
            Will normally submit automatically via timer

            TODO: pick ONLY the TOP player in queue, fallback to the next player in queue if already taken
        */
    $("#hidden-player-queue").submit(function (e) {
        var postData = $(this).serializeArray();
        $.ajax(
        {
            /* Set this URL path to the route that adds a player to a user's roster */
            url: "/api/League/PopulateTeam",
            type: "POST",
            data: postData,
            success: function (data, textStatus, jqXHR) {
                jQuery("#roster ul.feed-list").append(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Error adding player to your roster. Error details in console.");
                console.debug(jqXHR.responseJSON);
            }
        });
        e.preventDefault(); //STOP default action
        //e.unbind(); //unbind. to stop multiple form submit.
    });

    // Added by tim
    $("#hidden-player-queue").submit(function (e) {
        var postData = $(this).serializeArray();
        $.ajax(
        {
            /* Set this URL path to the route that adds a player to a user's roster */
            url: "/api/League/PopulateTeamFreeAgents",
            type: "POST",
            data: postData,
            success: function (data, textStatus, jqXHR) {
                jQuery("#free-agents ul.feed-list").append(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Error adding player to your roster. Error details in console.");
                console.debug(jqXHR.responseJSON);
            }
        });
        e.preventDefault(); //STOP default action
        //e.unbind(); //unbind. to stop multiple form submit.
    });
</script>