﻿@{
    if (!Request.IsAuthenticated)
    {
        Response.Redirect("~/Home?bounced=true&returnUrl="
            + Request.Url.LocalPath);
    }
    ViewBag.Title = "Profile";
}
<div class="main-container body profile">
    <div id="circle-button" class="shadow-mid"><span>Sign Up</span></div>
    <div class="content-container">
        <div class="content">
            <form enctype="multipart/form-data" id="user-info" autocomplete="off" method="POST" action="">
                <!-- Box -->
                <div id="pic-info" class="fourty fleft shadow-low card">
                    <div class="team-header">
                        <h3 class="fleft eighty">Basics</h3>
                        <div class="clr"></div>
                    </div>
                    <div class="team-body">
                        <div class="fifty fleft" id="user-pic">
                            <img src="~/Images/profile.jpg" class="shadow-low" />
                            <div class="edit-overlay">
                                <i id="picture-upload" class="fa fa-edit fa-2x fright"></i>
                                <!-- hidden file input - it's ugly -->
                                <input type="file" name="FileUpload" id="FileUpload" />
                            </div>
                        </div>
                        <div class="fifty fright" id="sub-info">
                            <input id="username" name="username" type="text" placeholder="Username" />
                            <input id="email" name="email" type="email" placeholder="Email" class="revealer" data-current="re_email" />
                            <input id="re_email" name="re_email" type="email" placeholder="Confirm email" class="hidden-input" />
                            <input id="password" name="password" type="password" placeholder="Password" class="revealer" data-current="two_password" />
                            <input id="two_password" name="two_password" type="password" placeholder="Confirm password" class="hidden-input" />
                            <input type="submit" value="Update" class="shadow-low">
                        </div>
                        <div class="clr"></div>

                    </div>
                </div>
                <!-- .Box -->
                <!-- Box -->
                <div id="teams-owned" class="sixty fleft shadow-low card">
                    <div class="team-header">
                        <h3 class="fleft eighty">My Teams</h3>
                        <i class="fa fa-external-link fright"></i>
                        <div class="clr"></div>
                    </div>
                    <div class="team-body">
                        <!-- need to hide unfilled team slots (loop through it!) -->
                        <ul>
                            <li class="third"><a href="team-seahawks" class="team-button">Seahawks</a></li>
                            <li class="third"><a href="team-seahawks" class="team-button">Ravens</a></li>
                            <li class="third"><a href="team-seahawks" class="team-button">Packers</a></li>
                            <li class="third"><a href="team-seahawks" class="team-button">Steelers</a></li>
                            <li class="third"><a href="team-seahawks" class="team-button">Bucs</a></li>
                            <li class="third"><a href="team-seahawks" class="team-button">Seahawks</a></li>
                            <li class="third"><a href="team-seahawks" class="team-button">Ravens</a></li>
                            <li class="third"><a href="team-seahawks" class="team-button">Packers</a></li>
                            <li class="third"><a href="team-seahawks" class="team-button">Steelers</a></li>
                            <li class="third"><a href="team-seahawks" class="team-button">Bucs</a></li>
                        </ul>
                        <div class="clr"></div>
                    </div>
                </div>
                <!-- .Box -->
                <!-- Box -->
                <div id="pic-info" class="fifty fleft shadow-low card">
                    <div class="team-header">
                        <h3 class="fleft eighty">Details</h3>
                        <div class="clr"></div>
                    </div>
                    <div class="team-body">
                        <h1>wut</h1>
                        <input type="submit" value="Update" class="shadow-low">
                        <div class="clr"></div>
                    </div>
                </div>
                <!-- .Box -->
            </form>
        </div>
        <div class="clr"></div>
    </div>
</div>

<script>
    jQuery(".revealer").focus(function () {
        var curElem = "#" + jQuery(this).data("current");
        jQuery(curElem).css('display', 'block');
    });
</script>