@{
    string url = Request.Url.AbsoluteUri.Replace(Request.Url.PathAndQuery, string.Empty);
}

<footer>
    <div class="footer shadow-low">
        <div class="content-container">
            <div class="content">
                <div class="logo-small">
                    <a href="index.html" alt="Home link">
                        <img src="~/Images/logo.png" alt="FFRewards logo">
                    </a>
                </div>
                <div class="copyright">
                    <p>Copyright 2015 Fantasy Football Rewards.<br> All rights reserved.</p>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>
</footer>

<script>
    jQuery(window).load(function () {
        //alert(sessionStorage.tokenKey);
        var height = jQuery("#video-container iframe").height();
        jQuery("#video-container").css("height", (height * .6));
        var winHeight = jQuery(window).height();

        /* Middle-align lightbox */
        jQuery(".lightbox").each(function () {
            jQuery(this).parent().removeClass("no-display");
            var lightboxHeight = jQuery(this).height();
            jQuery(this).parent().addClass("no-display");
            var computedHeight = (winHeight / 2) - lightboxHeight;
            if (computedHeight < 100) {
                jQuery(this).css("top", 100);
            } else {
                jQuery(this).css("top", computedHeight);
            }
            jQuery(this).find(".lightbox-holder").addClass("no-display");
        });

        /* Get URL variables */
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        var prevURL = getParameterByName('returnUrl');
        var bounced = getParameterByName('bounced');
        /* If bounced for access denied, tell the user about it */
        if (bounced == 'true') {
            alert("Access denied. Please login or sign up first.");
        }
    });

    /* Homepage tab video/news/social tab switcher */
    jQuery("li.tab-item").click(function () {
        var current = "#" + jQuery(this).data("tab");
        var past = "#" + jQuery("#tab-list").find(".active").data("tab");
        jQuery(past).toggle();
        jQuery("#tab-list").find(".active").removeClass("active");
        jQuery(this).addClass("active");
        jQuery(current).toggle();
    });

    /* Provide lightbox when register is clicked */
    jQuery("#register").click(function () {
        jQuery("#register-holder").toggleClass("no-display");
        jQuery("body").toggleClass("no-scroll");
    });

    /* Provide lightbox when sign up is clicked */
    jQuery("#sign-in").click(function () {
        jQuery("#sign-in-holder").toggleClass("no-display");
        jQuery("body").toggleClass("no-scroll");
    });

    /* Close lightbox when X icon is clicked */
    jQuery(".lightbox .fa-close").click(function () {
        jQuery(".lightbox-holder").addClass("no-display");
        jQuery("body").toggleClass("no-scroll");
    });

    /* expanding box to full width */
    jQuery(".fa-external-link").click(function () {
        jQuery(this).closest(".card").toggleClass("full");
    });

    jQuery(".mobile-menu-link").click(function () {
        jQuery("#mobile-menu").toggleClass("reveal");
    });

    /* Profile pic file upload */
    jQuery("#picture-upload").on("click", function (evt) {
        evt.preventDefault();
        jQuery("#FileUpload").trigger('click');
    });
</script>
<script>
    //callback handler for register submit
    $("#register-form").submit(function (e) {
        var postData = $(this).serializeArray();
        $.ajax(
        {
            url: "/api/Account/Register",
            type: "POST",
            data: postData,
            success: function (data, textStatus, jqXHR) {
                jQuery("#register-body").replaceWith("<h3>Success! Welcome to Fantasy Football Rewards.</h3>");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                jQuery("#register-body").replaceWith("<h3>Registration failed. Please try again or contact the site administrator.</h3><p id='errDetail'>Details: " + jqXHR.responseJSON.Message + "</p>");
            }
        });
        e.preventDefault(); //STOP default action
        //e.unbind(); //unbind. to stop multiple form submit.
    });

    //callback handler for sign in submit
    $("#sign-in-form").submit(function (e) {
        var postData = $(this).serializeArray();

        $.ajax(
        {
            url: "/api/Account/Login",
            type: "POST",
            data: postData,
            success: function (data, textStatus, jqXHR) {
                jQuery("#sign-in-body").replaceWith("<h3>Success! Thank you for logging in.</h3>");
                // Cache the access token in session storage.
                sessionStorage.setItem("tokenKey", data.access_token);
                sessionStorage.setItem("userName", data.userName);
                var tokenKey = sessionStorage.tokenKey;
                var userName = sessionStorage.userName;
                console.debug(tokenKey);
                console.debug(userName);

                //Get previous URL to redirect to after login, then do it.
                /* Get URL variables */
                function getParameterByName(name) {
                    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                        results = regex.exec(location.search);
                    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
                }

                /* Set return URL */
                var prevURL = getParameterByName('returnUrl');
                prevURL = "@(url)" + prevURL; //Should be changed if running on NON VIRTUAL HOST.
                window.setTimeout(function () {
                    window.location.href = prevURL;
                }, 1500);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                jQuery("#sign-in-body").replaceWith("<h3>Login failed. Please try again or contact the site administrator.</h3><p id='errDetail'>Details: " + jqXHR.responseJSON.error_description + "</p>");
            }
        });
        e.preventDefault(); //STOP default action
        //e.unbind(); //unbind. to stop multiple form submit.
    });
</script>
</html>