﻿<div class="lightbox-holder sign-in no-display" id="sign-in-holder">
    <div class="lightbox sign-in">
        <div class="shadow-low card">
            <div class="team-header">
                <h3 class="fleft eighty">Sign in</h3>
                <i class="fa fa-close fright fa-2x"></i>
                <div class="clr"></div>
            </div>
            <div class="team-body">
                <div>
                    @{
                        if (IsPost)
                        {
                            <h1>Put the submit function hook up in hurrrrr</h1>
                        }
                        else
                        {
                            <form id="sign-in-form" method="POST" action="">
                                <input class="" id="username" name="username" type="text" placeholder="User name">
                                <input class="" id="password" name="password" type="password" placeholder="Password">
                                <input type="submit" value="Sign in" class="shadow-low">
                                <p><a href="#">Having trouble signing in? Click here.</a></p>
                            </form>
                        }
                    }
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>
</div>
<div class="lightbox-holder register no-display" id="register-holder">
    <div class="lightbox">
        <div class="shadow-low card">
            <div class="team-header">
                <h3 class="fleft eighty">Register</h3>
                <i class="fa fa-close fright fa-2x"></i>
                <div class="clr"></div>
            </div>
            <div class="team-body">
                <div class="fifty fleft">
                    <p style="margin-top: 15px;"><strong>Welcome to Fantasy Football Rewards!</strong></p>
                    <p>Register today and start competing for free stuff from local businesses! We'll email you for confirmation shortly after you register.</p>
                </div>
                <div class="fifty fleft">
                    <form id="register-form" autocomplete="off">
                        <input class="" id="email" name="email" type="email" placeholder="Email">
                        <input class="" id="password" name="password" type="password" placeholder="Password">
                        <input class="" id="re_password" name="re_password" type="password" placeholder="Confirm Password">
                        <input type="submit" value="Register" class="shadow-low">
                    </form>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>
</div>
<div class="header shadow-low">
    <div class="content-container">
        <div class="content">
            <div id="logo">
                <a href="index.html">
                    <img src="~/Images/logo.png" alt="FFRewards logo">
                    <div class="clr"></div>
                </a>
            </div>
            <div id="login-register">
                <a href="#" id="sign-in" class="shadow-low">Sign in</a>
                <a id="register" class="shadow-mid">Register</a>
                <div class="clr"></div>
            </div>
            <div class="clr"></div>
            <div id="menu">
                <ul id="main-menu">
                    <li class="menu-item active">
                        <a href="~/Views/Home/Index.cshtml" class="menu-link">Home</a>
                    </li>
                    <li class="menu-item">
                        @Html.ActionLink("Leagues", "Index", "Leagues")
                        <a href="~/Views/Home/leagues.cshtml" class="menu-link">~/Views/Home/leagues.cshtml</a>
                    </li>
                    <li class="menu-item">
                        <a href="~/Views/Home/my-teams.cshtml" class="menu-link">My Teams</a>
                    </li>
                    <div class="clr"></div>
                </ul>
            </div>
        </div>
    </div>
</div>