﻿@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using FFRewards.Controllers
@using FFRewards.Models
@{
    var statusMessage = string.Empty;
    if (IsPost)
    {
        string email = Request.Form["email"];
        string password = Request.Form["password"];
        string confirmPassword = Request.Form["re_password"];
        var myObj = new RegisterBindingModel() { Email = email, Password = password, ConfirmPassword = confirmPassword };

        //@Html.Action("Register", "Account", myObj, FormMethod.Post)
        //var ac = new AccountController();
        //ac.Register(myObj);

    }
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>@ViewBag.Title | Fantasy Football Rewards</title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/tweak.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:900,100,300,700,400' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
@RenderPage("~/Views/Shared/_LoginPartial.cshtml")
<body class="@ViewBag.Title">
    @RenderBody()
</body>
@RenderPage("~/Views/Shared/_footer.cshtml")
