﻿@using Microsoft.AspNet.Identity

@RenderPage("~/Views/Shared/_loginBoxes.cshtml")

<div class="header shadow-low">
    <div class="">
        <div class="content">
            <div id="logo">
                <a href="@Url.Action("")">
                    <img src="~/Images/logo.png" alt="FFRewards logo">
                    <div class="clr"></div>
                </a>
            </div>

            @if (Request.IsAuthenticated)
            {
                <i class="mobile-menu-link fa fa-navicon fa-3x"></i>
                using (Html.BeginForm("Logout", "api/Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                
                    <div id="user-controls" class="fright">
                        <div id="username">@Html.ActionLink(User.Identity.GetUserName(), "Profile", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })</div>
				        <a href="my-teams.html" id="trophies">0 <i class="fa fa-trophy"></i></a>
				        <a href="my-teams.html" id="teams">3 <i class="fa fa-play"></i></a>
                        <a href="javascript:document.getElementById('logoutForm').submit()" title="Log out" id="options">
                            <i class="fa fa-gear"></i>
                        </a>
				        <div class="clr"></div>
			        </div>
                }
                    <div id="menu">
                        <ul id="main-menu">
                            <li class="menu-item active">
                                @Html.ActionLink("Home", "Index", "Index", new { id = "menu-link" })
                            </li>
                            <li class="menu-item">
                                @Html.ActionLink("Leagues", "Leagues", "Home", new { id = "menu-link" })
                            </li>
                            <li class="menu-item">
                                @Html.ActionLink("My Teams", "MyTeams", "MyTeams", new { id = "menu-link" })
                            </li>
                            <li class="menu-item">
                                @Html.ActionLink("Draft", "Draft", "Draft", new { id = "menu-link" })
                            </li>
                            <div class="clr"></div>
                        </ul>
                    </div>
                    <div id="mobile-menu" class="shadow-mid loggedin">
                        <div id="user-controls" class="fright">
                            <div id="username">@Html.ActionLink(User.Identity.GetUserName(), "Profile", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })</div>
                            <a href="my-teams.html" id="trophies">0 <i class="fa fa-trophy"></i></a>
                            <a href="my-teams.html" id="teams">3 <i class="fa fa-play"></i></a>
                            <a href="javascript:document.getElementById('logoutForm').submit()" title="Log out" id="options">
                                <i class="fa fa-gear"></i>
                            </a>
                    <div class="clr"></div>
                        </div>
                        <ul id="main-menu">
                            <li class="menu-item active">
                                @Html.ActionLink("Home", "Index", "Index", new { id = "menu-link" })
                            </li>
                            <li class="menu-item">
                                @Html.ActionLink("Leagues", "Leagues", "Home", new { id = "menu-link" })
                            </li>
                            <li class="menu-item">
                                @Html.ActionLink("My Teams", "MyTeams", "MyTeams", new { id = "menu-link" })
                            </li>
                            <li class="menu-item">
                                @Html.ActionLink("Draft", "Draft", "Draft", new { id = "menu-link" })
                            </li>
                            <div class="clr"></div>
                        </ul>
                    </div>
                }
            else
            {
                <!--<ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>-->
                <i class="mobile-menu-link fa fa-navicon fa-3x"></i>
                <div class="login-logout" id="login-register">
                    <a href="#" id="sign-in" class="shadow-low">Sign in</a>
                    <a id="register" class="shadow-mid">Register</a>
                    <div class="clr"></div>
                </div>
                <div id="menu">
                    <ul id="main-menu">
                        <li class="menu-item active">
                            @Html.ActionLink("Home", "Index", "Index", new { id = "menu-link" })
                        </li>
                        <div class="clr"></div>
                    </ul>
                </div>
                <div class="clr"></div>
                <div id="mobile-menu" class="shadow-mid">
                    <div class="login-logout" id="login-register">
                        <a href="#" id="sign-in" class="shadow-low">Sign in</a>
                        <a id="register" class="shadow-mid">Register</a>
                        <div class="clr"></div>
                    </div>
                    <ul id="main-menu">
                        <li class="menu-item active">
                            @Html.ActionLink("Home", "Index", "Index", new { id = "menu-link" })
                        </li>
                        <div class="clr"></div>
                    </ul>
                </div>
            }

        </div>
    </div>
</div>