﻿<div class="lightbox-holder sign-in no-display" id="sign-in-holder">
    <div class="lightbox sign-in">
        <div class="shadow-low card">
            <div class="team-header">
                <h3 class="fleft eighty">Sign in</h3>
                <i class="fa fa-close fright fa-2x"></i>
                <div class="clr"></div>
            </div>
            <div class="team-body">
                <div id="sign-in-body">
                    <form id="sign-in-form" method="POST" action="">
                        <input class="" id="UserName" name="UserName" type="text" placeholder="Username/Email">
                        <input class="" id="Password" name="Password" type="password" placeholder="Password">
                        <input class="" id="grant_type" name="grant_type" value="password" type="hidden" />
                        <input type="submit" value="Sign in" class="shadow-low">
                        <p><a href="#">Having trouble signing in? Click here.</a></p>
                    </form>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>
</div>
<div class="lightbox-holder register no-display" id="register-holder">
    <div class="lightbox">
        <div class="shadow-low card">
            <div class="team-header">
                <h3 class="fleft eighty">Register</h3>
                <i class="fa fa-close fright fa-2x"></i>
                <div class="clr"></div>
            </div>
            <div class="team-body">
                <div class="fifty fleft">
                    <p style="margin-top: 15px;"><strong>Welcome to Fantasy Football Rewards!</strong></p>
                    <p>Register today and start competing for free stuff from local businesses! We'll email you for confirmation shortly after you register.</p>
                </div>
                <div class="fifty fleft">
                    <div id="register-body">
                        <form id="register-form" autocomplete="off" method="POST" action="">
                            <input class="" id="Email" name="Email" type="email" placeholder="Email">
                            <input class="" id="Password" name="Password" type="password" placeholder="Password">
                            <input class="" id="ConfirmPassword" name="ConfirmPassword" type="password" placeholder="Confirm Password">
                            <input type="submit" value="Register" class="shadow-low">
                        </form>
                    </div>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>
</div>