* {
    margin: 0;
    padding: 0;
    display: block;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
}

body {
    background: #FFF;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #1976D2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.clr {
    clear: both;
}

.sep {
    border-top: 3px solid #00b1b2;
}

title {
    display: none;
}

script {
    display: none;
}

.fright {
    float: right;
}

.fleft {
    float: left;
}

.twenty, .thirty, .fourty, .fifty, .sixty, .seventy {
    -webkit-transition: width 0.5s, max-width 0.5s;
    transition: width 0.5s, max-width 0.5s;
}

.twenty {
    max-width: 20%;
    width: 100%;
    box-sizing: border-box;
}

.thirty {
    max-width: 30%;
    width: 100%;
    box-sizing: border-box;
}

.fourty {
    max-width: 40%;
    width: 100%;
    box-sizing: border-box;
}

.fifty {
    max-width: 50%;
    width: 100%;
    box-sizing: border-box;
}

.sixty {
    max-width: 60%;
    width: 100%;
    box-sizing: border-box;
}

.seventy {
    max-width: 70%;
    width: 100%;
    box-sizing: border-box;
}

.eighty {
    max-width: 80%;
    width: 100%;
    box-sizing: border-box;
}

.full {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

.fifty {
    width: 48%;
    margin: 10px 0;
}

.content-container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.content {
    padding: 20px;
    background-color: transparent;
}

.header {
    margin-bottom: 15px;
    background: #616161;
}

.footer {
    margin-top: 15px;
    background: #616161;
}

    .header .content, .header .content a, .footer .content, .footer .content a {
        background: transparent;
        color: #fff;
    }

.logo-small {
    float: left;
    width: 50%;
}

.copyright {
    font-size: 13px;
    text-align: right;
    float: right;
    width: 50%;
}

#logo {
    margin: 5px 25px 5px 10px;
    display: inline-block;
    float: left;
}

    #logo img {
        float: left;
        max-height: 70px;
    }

#login-register {
    float: right;
    margin-top: 20px;
}

#login-register {
    float: right;
    margin-top: 0;
    position: absolute;
    right: 25px;
    top: 15px;
    z-index: 99;
}

    #login-register a {
        display: inline-block;
        font-size: 20px;
        letter-spacing: 0.07em;
    }

        #login-register a#sign-in {
            padding: 12px 15px;
            background: #fff;
            color: #1976D2;
            margin-right: 5px;
        }

        #login-register a#register {
            font-weight: 700;
            padding: 12px 15px;
            background: #FFA726;
        }

    #login-register a {
        -webkit-transition: background .15s, color .15s;
        transition: background .15s, color .15s;
        float: left;
    }

        #login-register a:hover {
            color: #1976D2;
            background: #fff !important;
        }

        #login-register a#sign-in:hover {
            color: #fff !important;
            background: #FFA726 !important;
        }

#menu {
    position: relative;
    left: 0px;
}


li.menu-item {
    text-align: left;
    display: inline-block;
    margin-right: 25px;
}

.home-league-three {
    max-width: 29%;
    width: 100%;
    box-sizing: border-box;
    float: left;
    margin: 15px 2%;
    background: #FAFAFA;
    border-radius: 3px;
    box-shadow: 1px 3px 10px rgba(21, 21, 21, 0.1);
    color: #fff;
}

    .home-league-three a {
        color: #000;
        font-weight: 700;
    }

.name-banner {
    background: #1976D2;
    padding: 10px 6%;
    border-radius: 3px 3px 0 0;
    box-shadow: 1px 3px 10px rgba(21, 21, 21, 0.1);
    text-align: center;
}

li.info-item {
    display: block;
    float: left;
    clear: both;
    padding: 10px 6%;
    box-sizing: border-box;
    width: 100%;
}

    li.info-item a, li.info-item strong {
        display: inline-block;
        word-wrap: normal;
    }

    li.info-item:nth-child(odd) {
        background: #EEE;
    }

h1#promo-header, h2#league-header {
    text-align: center;
    width: 100%;
    font-weight: 700;
    color: #616161;
}

#main-promo {
    width: 100%;
    height: auto;
    background: #323232;
    color: #fff;
    box-sizing: border-box;
    margin: 30px 0;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 1px 2px 10px rgba(26, 26, 26, 0.39);
}

.header .content-container, .header .content {
    padding: 0;
}

li.menu-item {
    text-align: left;
    display: inline-block;
    margin-right: -4px;
}

    li.menu-item a {
        padding: 30px;
        -webkit-transition: background .18s;
        transition: background .18s;
        border-radius: 3px 3px 0 0;
    }

        li.menu-item a:hover {
            background: #FFA726 !important;
            box-shadow: 0px 0px 6px rgba(26, 26, 26, 0.34);
        }

h1.logo-text {
    font-size: 20px;
    margin-top: 3px;
    margin-left: 20px;
    float: left;
    letter-spacing: 0.06em;
    word-spacing: 0.1em;
}

li.info-item, li.info-item a {
    font-size: 14px;
    color: #000;
    letter-spacing: 0.03em;
}

.main-container .content {
    box-sizing: border-box;
    float: left;
    background: transparent;
}

.main-container.home .content-container .content {
    width: 70%;
    padding: 20px;
}

.main-container.leagues .content-container .content {
    width: 100%;
    padding: 0;
}

#sidebar {
    float: right;
    width: 30%;
    box-sizing: border-box;
    padding-top: 18px;
}

ul#tab-list {
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: -5px;
}

li.tab-item {
    display: inline-block;
    width: 33.3333333%;
    box-sizing: border-box;
    padding: 10px 15px;
    text-transform: uppercase;
    margin: 0;
    float: left;
    text-align: center;
    -webkit-transition: background .15s, color .15s;
    transition: background .15s, color .15s;
    color: #1976D2;
}

    li.tab-item.active {
        background: #1976D2;
        color: #fff;
        box-shadow: 0px 1px 5px rgba(26, 26, 26, 0.34);
        z-index: -1;
        position: relative;
        border-radius: 3px 3px 0 0;
    }

    li.tab-item:hover {
        cursor: pointer;
    }

#social, #video {
    display: none;
}

img.provider-pic {
    width: 60px;
    float: left;
    margin: 0 10px 10px 0;
    border-radius: 60px;
}

h4.provider-name {
    float: left;
    margin-top: 7px;
    font-weight: 700;
}

#news .meta {
    float: left;
}

li.feed-item {
    padding: 10px;
    background: #F5F5F5;
}

    li.feed-item:nth-child(odd) {
        background: #fff;
    }

.toggle-container {
    border-right: 2px solid #1976D2;
    border-bottom: 2px solid #1976D2;
    border-left: 2px solid #1976D2;
    border-radius: 3px;
    background: transparent;
    padding: 6px 0px 10px 0px;
}

.logo-small img {
    width: 75px;
}

#video-container {
    padding: 0 13px;
}

li.tab-item:hover {
    background: #1976D2;
    color: #fff;
    box-shadow: 0px 0px 6px rgba(26, 26, 26, 0.34);
}

li.tab-item.active:hover {
    color: #323232;
}

#video-container {
    position: relative;
    padding-bottom: 56.25%;
    /*padding-top:30px;*/
    height: 0;
    overflow: hidden;
}

    #video-container iframe, #video-container object, #video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

#video {
    padding: 0 10px;
    background: #FAFAFA;
}

li.menu-item.active {
    background: #FFA726;
    -webkit-transition: color .15s, background .15s;
    transition: color .15s, background .15s;
}

    li.menu-item.active a {
        -webkit-transition: color .15s, background .15s;
        transition: color .15s, background .15s;
    }

li.menu-item:hover a {
    background: #1976D2;
}

li.menu-item.active:hover a {
    color: #323232;
}

#video-container iframe {
    padding-top: 45px;
}

#video-container h2 {
    text-transform: none;
    text-align: center;
    font-size: 20px;
}

#video-container iframe {
    max-height: 200px;
}

#promo-img {
    width: 100%;
    height: auto;
}

.shadow-low {
    box-shadow: 0px 1px 5px rgba(26, 26, 26, 0.34);
}

.shadow-mid {
    box-shadow: 1px 2px 10px rgba(26, 26, 26, 0.39);
}

.shadow-high {
    box-shadow: 1px 2px 13px rgba(26, 26, 26, 0.58);
}

.toggle-container.shadow-low {
    box-shadow: 0px 2px 5px rgba(26, 26, 26, 0.22);
    border-top: 10px solid #1976D2;
    padding-top: 0px;
    padding-bottom: 0px;
    background: #fff;
    position: relative;
    z-index: 5;
}

#circle-button {
    background: #FFA726;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.06em;
    position: fixed;
    bottom: 30px;
    right: 30px;
    text-transform: uppercase;
    padding: 10px 20px !important;
    z-index: 99999;
}

.leagues .main-container .content {
    width: 100%;
    padding: 0;
}

#weekly, #custom {
    display: none;
}

.half:nth-child(odd) {
    margin-right: 2%;
}

.half {
    box-sizing: border-box;
    width: 49%;
    float: left;
    padding: 0;
    margin: 15px 0% 15px 0%;
    background: #FAFAFA;
}

.third {
    box-sizing: border-box;
    width: 32%;
    float: left;
    padding: 0;
    margin: 15px 1% 15px 1%;
    background: #FAFAFA;
}

.league-feed-pic {
    width: 16%;
    float: left;
    min-width: 40px;
    margin-right: 10px;
    display: inline-block;
    box-sizing: border-box;
}

.league-feed-body {
    width: 60%;
    float: left;
    box-sizing: border-box;
    padding: 2px 5px;
    display: inline-block;
}

.league-feed-meta {
    width: 21%;
    float: left;
    box-sizing: border-box;
    padding: 2px 5px;
    display: inline-block;
}

    .league-feed-meta .meta-join {
        padding: 10px 20px;
        text-align: center;
        font-size: 15px;
        width: 80%;
        box-sizing: border-box;
        margin: 0 auto 10px auto;
        color: #fff;
        background: #FFA726;
        border-radius: 2px;
        letter-spacing: 0.06em;
        font-weight: 400;
        text-transform: uppercase;
    }

.league-feed-pic img {
    border-radius: 75px;
    width: 100%;
    max-width: 75px;
    margin-top: 5px;
    margin-left: 10px;
}

.meta-spots span {
    font-weight: 700;
}

.league-single h3 {
    text-align: center;
    letter-spacing: 0.03em;
    padding: 5px 0;
    width: 100%;
    margin: 0 0 10px;
    position: relative;
    background: #1976D2;
    color: #fff;
    box-shadow: 0px 0px 6px rgba(26, 26, 26, 0.34);
}

.league-feed-meta, .league-feed-meta span {
    font-size: 13px;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
}

.leagues .toggle-container {
    border: none;
    box-shadow: none;
    position: relative;
    z-index: 0;
    background: transparent;
}

#main-promo img {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

    #main-promo img:hover {
        opacity: 0.75;
        cursor: pointer;
    }

.team-header {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    background: #1976D2;
    color: #fff;
    box-shadow: 0px 2px 3px rgba(26, 26, 26, 0.26);
    position: relative;
    margin-right: 2%;
    z-index: 1;
}

.team-body {
    padding: 10px 15px;
    background: #FAFAFA;
}

.my-teams .main-container .content-container .content {
    width: 100%;
}

.my-teams .content .fifty {
    width: 48%;
    margin: 10px 0;
}

.profile .content .card {
    margin: 10px 0;
}

.my-teams .content .fifty:nth-of-type(3) {
    margin-right: 4%;
}

.my-teams .content .third:nth-of-type(6) {
    margin-left: 0;
}

.my-teams .content .third:nth-of-type(8) {
    margin-right: 0;
}

#free-agents .feed-list {
    max-height: 250px;
    overflow-y: scroll;
}

#roster .feed-list li {
    width: 50%;
    float: left;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 0 3% 0 0;
}

#standings .feed-list li {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

    #standings .feed-list li span {
        display: inline-block;
        float: right;
        padding-right: 20px;
    }

.my-teams .fa-external-link, .profile .fa-external-link {
    font-size: 25px;
    padding-top: 4px;
}

    .my-teams .fa-external-link:hover {
        cursor: pointer;
    }

#tag-team-info {
    height: 130px;
}

#team-half-div .team-name {
    height: 50px;
}

#team-half-div {
    float: left;
    box-sizing: border-box;
    padding: 10px 10px;
}

.team-meta .half {
    margin: 3px 0 0 0;
}

    .team-meta .half strong, .team-meta .half {
        display: inline-block;
        font-size: 12px;
    }

.my-teams #tag-team-info .team-pic {
    width: 27%;
    border-radius: 100px;
}

#user-controls {
    max-width: 210px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    right: 25px;
    top: 7px;
    color: #fff;
    z-index: 99;
}

    #user-controls a {
        display: inline-block;
        width: 30%;
        color: #fff;
    }

    #user-controls #username {
        margin-bottom: 10px;
        text-align: center;
        font-weight: 700;
    }

    #user-controls a {
        display: inline-block;
        width: 32%;
        text-align: center;
        box-sizing: border-box;
        font-size: 20px;
    }

#mystery .team-body div {
    color: #000;
}

.card {
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.full {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
}

    .full li.team-feed-item {
        width: 50%;
        float: left;
        margin: 8px 0;
        padding-right: 5px;
        box-sizing: border-box;
    }

    .full .feed-list {
        max-height: initial !important;
        overflow-y: visible !important;
    }

.leagues .tabs {
    position: relative;
    z-index: 1;
}

.lightbox-holder {
    width: 100%;
    height: 100%;
    min-height: 200px;
    background: rgba(208, 208, 208, 0.73);
    position: absolute;
    z-index: 9999;
    opacity: 1;
}

.lightbox {
    position: absolute;
    max-width: 700px;
    min-width: 500px;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 99999;
    margin: 0 auto;
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
}

    .lightbox .team-header i {
        font-size: 20px;
        margin-top: 3px;
    }

.no-display {
    display: none;
    opacity: 0;
}

.no-scroll {
    overflow-y: hidden;
}

.fa-close:hover {
    cursor: pointer;
}

input {
    margin: 10px auto;
    min-width: 200px;
    padding: 5px 10px;
    letter-spacing: 0.02em;
    width: 85%;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
}

    input[type="submit"] {
        width: 100px;
        min-width: 0;
        padding: 5px 0;
        float: right;
        margin-right: 14px;
        text-transform: uppercase;
        color: #fff;
        background: #FFA726;
        text-align: center;
        border: 0;
        border-radius: 3px;
        letter-spacing: 0.06em;
    }

#register-form input:active, #register-form input:focus, #sign-in-form input:active, #sign-in-form input:focus {
    border-bottom: 1px solid red !important;
}

.lightbox.sign-in {
    width: 350px;
    min-width: 0;
}

    .lightbox.sign-in .team-body a {
        font-size: 13px;
        padding: 7px 0 0 13px;
        box-sizing: border-box;
        width: 55%;
    }

#circle-button {
    display: none;
}

li.info-item:first-child {
    text-align: center;
}

#main-menu li.menu-item a {
    border-radius: 0;
}

#field-image {
    width: 100%;
    height: auto;
}

.fifty.fleft.shadow-low.card:nth-of-type(1) {
    margin-right: 4%;
}

#user-pic {
    border-radius: 150px;
    overflow: hidden;
    width: 100%;
    max-width: 150px;
    height: 100%;
    max-height: 150px;
    position: relative;
}

    #user-pic:hover .edit-overlay .fa-edit, #user-pic:hover {
        cursor: pointer;
        color: #FFA726;
    }

.edit-overlay {
    height: 150px;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.51);
    z-index: 5;
    width: 100%;
    border-radius: 150px;
}

#pic-info .fa-edit.fa-2x {
    color: #fff;
    text-align: center;
    width: 100%;
    margin: 0 auto !important;
    float: none !important;
    position: relative;
    top: 35%;
}

.edit-overlay {
    -webkit-transition: color 0.15s, opacity 0.4s;
    transition: color 0.15s, opacity 0.4s;
    opacity: 0;
}

    .edit-overlay:hover {
        opacity: 1;
    }

#user-info input#FileUpload {
    display: none;
}

#pic-info {
    margin-right: 2%;
}

#teams-owned {
    width: 58%;
}

.profile .content {
    width: 100%;
}

#teams-owned li.third {
    width: 31%;
}

    #teams-owned li.third a {
        text-align: center;
        padding: 5px 0;
    }

        #teams-owned li.third a:hover {
            background: #FFA726;
            color: #fff;
        }

    #teams-owned li.third a {
        text-align: center;
        padding: 5px 0;
        background: #E0E0E0;
        border-radius: 3px;
        color: #333;
        -webkit-transition: color 0.15s, background 0.15s;
        transition: color 0.15s, background 0.15s;
        width: 80%;
        margin: 0 auto;
    }

#pic-info input {
    min-width: 100px;
}

.hidden-input {
    display: none;
}

.draft .content {
    width: 100%;
}

.draft-player span {
    display: inline-block;
}

    .draft-player span.player-name {
        color: #1976D2;
        font-weight: 700;
        margin-right: 10px;
    }

.draft-player:nth-child(odd) {
    background: #E5E5E5;
}

.draft-player {
    box-sizing: border-box;
    padding: 5px 7px;
}

    .draft-player .stat-item {
        width: 3.5%;
        padding: 2px 5px;
        text-align: right;
        display: inline-block;
    }

    .draft-player:nth-child(odd) .stat-item:nth-child(odd) {
        background: #FAFAFA;
    }

    .draft-player:nth-child(even) .stat-item:nth-child(even) {
        background: #E5E5E5;
    }

.yellow-bg {
    background: #FFA726 !important;
}

.red-bg {
    background: #E53935 !important;
}

.draft #roster {
    margin-bottom: 15px;
}

.roster-item div {
    display: inline-block;
}

.roster-item:nth-child(odd) {
    background: #E5E5E5;
}

.roster-item .pos {
    width: 50px;
    box-sizing: border-box;
    padding-left: 10px;
}

.roster-item .player-name {
    float: right;
    box-sizing: border-box;
    padding-right: 10px;
}

#roster .team-body {
    padding-left: 0;
    padding-right: 0;
}

.queue-item .delete-button {
    display: inline-block;
    float: right;
}

.player-queue li.queue-item:nth-child(even) {
    background: #E5E5E5;
}

.player-queue li.queue-item {
    box-sizing: border-box;
    padding: 2px 10px;
}

#queue .team-body {
    padding-left: 0;
    padding-right: 0;
}

.draft-player:hover {
    cursor: pointer;
}

.draft-player.queued {
    opacity: 0.5;
}

#user-controls #username a {
    font-size: 16px;
    text-align: center;
    width: 100%;
    letter-spacing: 0.04em;
    font-weight: 400;
}

#mobile-menu {
    display: none;
}

i.mobile-menu-link.fa.fa-navicon {
    display: none;
    float: right;
    margin: 15px 20px 15px 0;
}

.home-league-three, #sidebar, .content {
    -webkit-transition: width 0.5s, max-width 0.5s;
    transition: width 0.5s, max-width 0.5s;
}

#mobile-menu {
    position: absolute;
    width: 170px;
    top: 85px;
    right: -190px;
    background: #616161;
    z-index: 9999;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
}

    #mobile-menu li.menu-item, #mobile-menu li.menu-item a {
        width: 100%;
        margin-right: 0;
        padding-right: 0;
        text-align: left;
    }

.reveal {
    right: 0 !important;
}

#mobile-menu #login-register {
    position: initial;
    margin: 10px auto;
    float: right;
    left: 0;
    right: 0;
}

    #mobile-menu #login-register a#sign-in {
        position: relative;
        left: -15px;
        margin-bottom: 15px;
    }

    #mobile-menu #login-register #register {
        position: relative;
        left: -15px;
    }

.customisable-border.thm-dark, .thm-dark .customisable-border {
    border-color: #333 !important;
}

.customisable-border {
    border: 1px solid #e8e8e8 !important;
}

#logoutForm {
    display: inline-block;
    float: right;
}

.loggedin #user-controls {
    display: block;
    position: initial;
    background: #1976D2;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 20px 10px;
}

#mobile-menu.loggedin {
    width: 300px;
    right: -300px;
}

@media screen and (max-width: 1100px) {
    .draft .content.seventy {
        max-width: 100%;
    }

    .draft .content.thirty {
        max-width: 60%;
        float: none;
        margin: 15px auto;
    }
}

@media screen and (max-width: 960px) {
    .main-container.home .content-container .content {
        width: 100%;
    }

    #sidebar {
        float: none;
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px) {
    .home-league-three {
        max-width: 80%;
        float: none;
        margin: 15px auto;
    }

    .Home li.info-item, .Home .name-banner, .Home .league-details {
        float: none;
        clear: both;
    }

    #mobile-menu, i.mobile-menu-link.fa.fa-navicon {
        display: block;
    }

    #main-menu, #login-register {
        display: none;
    }

    #mobile-menu #main-menu, #mobile-menu #login-register {
        display: block;
    }

    #logo {
        float: left;
    }

    #user-controls {
        display: none;
    }

    #mobile-menu #user-controls {
        display: block;
    }

    .header .content {
        height: 85px;
    }

    .my-teams .fifty {
        width: 100% !important;
        max-width: 100%;
    }

    .draft .content.thirty {
        max-width: 60%;
    }

    .profile .sixty, .profile .fifty, .profile .fourty {
        width: 100% !important;
        max-width: 100% !important;
    }

    #user-pic {
        float: left;
        width: 150px !important;
    }

    .profile #sub-info {
        width: 50% !important;
        float: right;
    }
}

@media screen and (max-width: 650px) {
    .my-teams .fifty {
        width: 100% !important;
        max-width: 100%;
    }

    .my-teams .third {
        width: 80%;
        float: none !important;
        margin: 15px auto !important;
    }

    .my-teams .fa-external-link, .profile .fa-external-link {
        display: none;
    }

    .my-teams .content, .team-body {
        padding: 2%;
    }

    #roster .team-body {
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media screen and (max-width: 500px) {
    .home-league-three {
        max-width: 100%;
    }

    #sidebar {
        width: 95%;
    }

    .home .content {
        padding: 2% !important;
    }

    #main-promo {
        width: 104%;
        margin-left: -2%;
    }

    .draft .content.thirty {
        max-width: 100%;
        float: none;
        margin: 15px auto;
    }
}
