* { 
margin: 0; 
padding: 0; 
display: block; 
font-family: 'Roboto', sans-serif; 
line-height: 1.5em; 
}

body {
  background: #EEE;
}

a { 
  text-decoration: none; 
  color: #F44336;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.clr { clear: both; }
.sep { border-top: 3px solid #00b1b2; }
title { display: none; }
script { display: none; }

.fright { float: right;}
.fleft { float: left; }

.twenty { max-width: 20%; width: 100%; box-sizing: border-box; }
.thirty { max-width: 30%; width: 100%; box-sizing: border-box; }
.fourty { max-width: 40%; width: 100%; box-sizing: border-box; }
.fifty { max-width: 50%; width: 100%; box-sizing: border-box; }
.sixty { max-width: 60%; width: 100%; box-sizing: border-box; }
.seventy { max-width: 70%; width: 100%; box-sizing: border-box; }
.eighty { max-width: 80%; width: 100%; box-sizing: border-box; }

.content-container { 
width: 100%;
max-width: 1100px;
margin: 0 auto;
}

.content {
padding: 20px;
background-color: #303030;
}

.header {
  margin-bottom: 15px;
  background: #F44336;
}

.footer {
  margin-top: 15px;
  background: #F44336;
}

.header .content, .header .content a, .footer .content, .footer .content a { 
background: transparent;
color: #fff;
} 

.logo-small {
  float: left;
  width: 50%;
}

.copyright {
  font-size: 13px;
  text-align: right;
  float: right;
  width: 50%;
}

#logo {
  position: absolute;
  top: 7px;
  left: 25px;
}

#logo img {
  float: left;
  max-height: 70px;
}

#login-register {
  float: right;
  margin-top: 20px;
}

#login-register {
  float: right;
  margin-top: 0;
  position: absolute;
  right: 25px;
  top: 15px;
}

#login-register a {
  display: inline-block;
  font-size: 20px;
  letter-spacing: 0.07em;
}

#login-register a#sign-up {
  padding: 12px 15px;
  background: #fff;
  color: #F44336;
  margin-right: 5px;
}

#login-register a#register {
  font-weight: 700;
  padding: 12px 15px;
  background: #4CAF50;
}

#login-register a {
	-webkit-transition: background .15s, color .15s;
	transition: background .15s, color .15s;
	float: left;
}

#login-register a:hover {
  color: #F44336;
  background: #fff !important;
}

#login-register a#sign-up:hover {
  color: #fff !important;
  background: #4CAF50 !important;
}

#menu {
  width: 100%;
  max-width: 515px;
  margin: 0 auto;
  position: relative;
}

li.menu-item {
  text-align: left;
  display: inline-block;
  margin-right: 25px;
}

.home-league-three {
  max-width: 29%;
  width: 100%;
  box-sizing: border-box;
  float: left;
  margin: 15px 2%;
  background: #FAFAFA;
  border-radius: 3px;
  box-shadow: 1px 3px 10px rgba(21, 21, 21, 0.1);
  color: #fff;
}

.home-league-three a { 
  color: #000;
  font-weight: 700;
}

.name-banner {
  background: #F44336;
  padding: 10px 6%;
  border-radius: 3px 3px 0 0;
  box-shadow: 1px 3px 10px rgba(21, 21, 21, 0.1);
  text-align: center;
}

li.info-item {
  display: block;
  float: left;
  clear: both;
  padding: 10px 6%;
  box-sizing: border-box;
  width: 100%;
}

li.info-item a, li.info-item strong {
  display: inline-block;
  word-wrap: normal;
}

li.info-item:nth-child(odd) {
  background: #EEE;
}

h1#promo-header, h2#league-header {
  text-align: center;
  width: 100%;
  font-weight: 700;
  color: #F44336;
}

#main-promo {
  width: 100%;
  height: auto;
  background: #323232;
  color: #fff;
  box-sizing: border-box;
  margin: 30px 0;
  border-radius: 3px;
  overflow: hidden;
}

.header .content-container, .header .content {
  padding: 0;
}

li.menu-item {
  text-align: left;
  display: inline-block;
  margin-right: 45px;
}

li.menu-item a {
  padding: 30px;
  -webkit-transition: background .18s;
  transition: background .18s;
  border-radius: 3px 3px 0 0;
}

li.menu-item a:hover {
  background: #EF9A9A !important;
  box-shadow: 0px 0px 6px rgba(26, 26, 26, 0.34);
}

h1.logo-text {
  font-size: 20px;
  margin-top: 3px;
  margin-left: 20px;
  float: left;
  letter-spacing: 0.06em;
  word-spacing: 0.1em;
}

li.info-item, li.info-item a {
  font-size: 14px;
  color: #000;
  letter-spacing: 0.03em;
}

.main-container .content-container .content {
  width: 70%;
  box-sizing: border-box;
  float: left;
  background: transparent;
}

#sidebar {
  float: right;
  width: 30%;
  box-sizing: border-box;
  padding-top: 18px;
}

ul#tab-list {
  width: 100%;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: -5px;
}

li.tab-item {
  display: inline-block;
  width: 33.3333333%;
  box-sizing: border-box;
  padding: 10px 15px;
  text-transform: uppercase;
  margin: 0;
  float: left;
  text-align: center;
  -webkit-transition: background .15s, color .15s;
  transition: background .15s, color .15s;
  color: #F44336;
}

li.tab-item.active {
  background: #F44336;
  color: #fff;
  box-shadow: 0px 0px 6px rgba(26, 26, 26, 0.34);
  z-index: -1;
  position: relative;
  border-radius: 3px 3px 0 0;
}

li.tab-item:hover {
  cursor: pointer;
}

#social, #video {
	display: none;
}

img.provider-pic {
  width: 60px;
  float: left;
  margin: 0 10px 10px 0;
  border-radius: 60px;
}

h4.provider-name {
  float: left;
  margin-top: 7px;
  font-weight: 700;
}

#news .meta {
  float: left;
}

li.feed-item {
  padding: 10px;
  background: #F5F5F5;
}

li.feed-item:nth-child(odd) {
  background: #fff;
}

.toggle-container {
  border-right: 2px solid #F44336;
  border-bottom: 2px solid #F44336;
  border-left: 2px solid #F44336;
  border-radius: 3px;
  background: transparent;
  padding: 6px 0px 10px 0px;
}

.logo-small img {
  width: 75px;
}

#video-container {
  padding: 0 13px;
}

li.tab-item:hover {
  background: #F44336;
  color: #fff;
  box-shadow: 0px 0px 6px rgba(26, 26, 26, 0.34);
}

li.tab-item.active:hover {
  color: #323232;
}

#video-container {
	position:relative;
	padding-bottom:56.25%;
	/*padding-top:30px;*/
	height:0;
	overflow:hidden;
}

#video-container iframe, #video-container object, #video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#video {
  padding: 0 10px;
  background: #FAFAFA;
}

li.menu-item.active {
  background: #EF9A9A;
  -webkit-transition: color .15s, background .15s;
  transition: color .15s, background .15s;
}

li.menu-item.active a {
  -webkit-transition: color .15s, background .15s;
  transition: color .15s, background .15s;
}

li.menu-item:hover a {
  background: #F44336;
}

li.menu-item.active:hover a {
  color: #323232;
}

#video-container iframe {
  padding-top: 45px;
}

#video-container h2 {
  text-transform: none;
  text-align: center;
  font-size: 20px;
}

#video-container iframe {
  max-height: 200px;
}

#promo-img {
  width: 100%;
  height: auto;
}

.shadow-low {
  box-shadow: 0px 0px 6px rgba(26, 26, 26, 0.34);
}

.shadow-mid {
  box-shadow: 1px 2px 10px rgba(26, 26, 26, 0.39);
}

.shadow-high {
  box-shadow: 1px 2px 13px rgba(26, 26, 26, 0.58);
}

.toggle-container.shadow-low {
  box-shadow: 0px 5px 6px rgba(26, 26, 26, 0.22);
  border-top: 10px solid #F44336;
  padding-top: 10px;
  background: #FAFAFA;
  position: relative;
  z-index: 5;
}

#circle-button {
  background: #4CAF50;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.06em;
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-transform: uppercase;
  padding: 10px 20px !important;
  z-index: 99999;
}

.leagues .main-container .content {
  width: 100%;
  padding: 0;
}

#weekly, #custom { 
  display: none; 
}

.half:nth-child(odd) {
  margin-right: 2%;
}

.half {
  box-sizing: border-box;
  width: 49%;
  float: left;
  padding: 0;
  margin: 15px 0% 15px 0%;
  background: #FAFAFA;
}

.third {
  box-sizing: border-box;
  width: 32%;
  float: left;
  padding: 0;
  margin: 15px 1% 15px 1%;
  background: #FAFAFA;
}

.league-feed-pic {
  width: 16%;
  float: left;
  min-width: 40px;
  margin-right: 10px;
  display: inline-block;
  box-sizing: border-box;
}

.league-feed-body {
  width: 60%;
  float: left;
  box-sizing: border-box;
  padding: 2px 5px;
  display: inline-block;
}

.league-feed-meta {
  width: 21%;
  float: left;
  box-sizing: border-box;
  padding: 2px 5px;
  display: inline-block;
}

.league-feed-meta .meta-join {
  padding: 10px 20px;
  text-align: center;
  font-size: 15px;
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto 10px auto;
  color: #fff;
  background: #4CAF50;
  border-radius: 2px;
  letter-spacing: 0.06em;
  font-weight: 400;
  text-transform: uppercase;
}

.league-feed-pic img {
  border-radius: 75px;
  width: 100%;
  max-width: 75px;
  margin-top: 5px;
  margin-left: 10px;
}

.meta-spots span {
  font-weight: 700;
}

.league-single h3 {
  text-align: center;
  letter-spacing: 0.03em;
  padding: 5px 0;
  width: 100%;
  margin: 0 0 10px;
  position: relative;
  background: #F44336;
  color: #fff;
  box-shadow: 0px 0px 6px rgba(26, 26, 26, 0.34);
}

.league-feed-meta, .league-feed-meta span {
  font-size: 13px;
  display: inline-block;
  text-align: center;
  margin-top: 5px;
}

.leagues .toggle-container {
  border: none;
  box-shadow: none;
  position: relative;
  z-index: 0;
  background: transparent;
}

#main-promo img {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#main-promo img:hover {
  opacity: 0.75;
  cursor: pointer;
}

.team-header {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  background: #F44336;
  color: #fff;
  box-shadow: 0px 2px 3px rgba(26, 26, 26, 0.26);
  position: relative;
  margin-right: 2%;
  z-index: 1;
}

.team-body {
  padding: 10px 15px;
  background: #FAFAFA;
}

.my-teams .main-container .content-container .content {
  width: 100%;
}

.my-teams .content .fifty {
  width: 48%;
  margin: 10px 0;
}

.my-teams .content .fifty:nth-of-type(3) {
  margin-right: 4%;
}

.my-teams .content .third:nth-of-type(6) {
  margin-left: 0;
}

.my-teams .content .third:nth-of-type(8) {
  margin-right: 0;
}

#free-agents .feed-list {
  max-height: 250px;
  overflow-y: scroll;
}

#roster .feed-list li {
  width: 50%;
  float: left;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 0 3% 0 0;
}

#standings .feed-list li {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

#standings .feed-list li span {
  display: inline-block;
  float: right;
  padding-right: 20px;
}

.my-teams .fa-external-link {
  font-size: 25px;
  padding-top: 4px;
}

.my-teams .fa-external-link:hover {
  cursor: pointer;
}

#tag-team-info {
  height: 130px;
}

#team-half-div .team-name {
  height: 50px;
}

#team-half-div {
  float: left;
  box-sizing: border-box;
  padding: 10px 10px;
}

.team-meta .half {
  margin: 3px 0 0 0;
}

.team-meta .half strong, .team-meta .half {
  display: inline-block;
  font-size: 12px;
}

.my-teams #tag-team-info .team-pic {
  width: 27%;
  border-radius: 100px;
}

#user-controls {
  max-width: 210px;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  right: 25px;
  top: 7px;
  color: #fff;
}

#user-controls a {
  display: inline-block;
  width: 30%;
  color: #fff;
}

#user-controls #username {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
}

#user-controls a {
  display: inline-block;
  width: 32%;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
}

#mystery .team-body div {
  color: #000;
}

.card {
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.full {
  width: 100% !important;
  max-width: 100% !important;
  margin-left: auto;
  margin-right: auto;
}

.full li.team-feed-item {
  width: 50%;
  float: left;
  margin: 8px 0;
  padding-right: 5px;
  box-sizing: border-box;
}

.full .feed-list {
  max-height: initial !important;
  overflow-y: visible !important;
}

.leagues .tabs {
  position: relative;
  z-index: 1;
}

.lightbox-holder {
  width: 100%;
  height: 100%;
  min-height: 200px;
  background: rgba(208, 208, 208, 0.73);
  position: absolute;
  z-index: 9999;
  opacity: 1;
}

.lightbox {
  position: absolute;
  max-width: 600px;
  min-width: 350px;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 99999;
  margin: 0 auto;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

.lightbox .team-header i {
  font-size: 20px;
  margin-top: 3px;
}

.no-display {
  display: none;
  opacity: 0;
}

.fa-close:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
	.home-league-three {
	  max-width: 100%;
	}
}
